parameters:
    level: 10
    paths:
        - ../src
        - ../tests
    excludePaths:
        - ../src/Core/Test/Bootstrap/ConfigurationLoader/fixtures
    tmpDir: ../var/cache/phpstan
    bootstrapFiles:
            - ../../tools/t/phpunit/vendor/autoload.php
    ignoreErrors:
        - '#Slim\\App.*does not specify its types#'